/*
 * Dylan's customized firefox hackin file
 * 1. disabled the multiple tab bar
 * 2. show bookmarks toolbar at new tab only
 *
 * Usage:
 * 1. change directory to your firefox profile location: cd ~/.mozilla/firefox/RANDOM_STRING.default-release/
 * 2. create a directory named as chrome: mkdir chrome
 * 3. link the profile here: ln -s userChrome.css chrome
 * 4. open 'about:config' in firefox
 * 5. search 'toolkit.legacyUserProfileCustomizations.stylesheets'
 * 6. set it true
 */
#TabsToolbar { visibility: collapse !important; }
#tabbrowser-tabs, #tabbrowser-tabs arrowscrollbox { min-height: 0 !important; }
#tabbrowser-tabs tab { height: var(--tab-min-height); }
#tabbrowser-tabs tab:first-of-type:last-of-type { display: none !important; }

/*
 * Whenever you click inside of the URL bar (which happens automatically when you create a new tab), the bookmarks toolbar should appear.
 */
#nav-bar:not(:focus-within) + #PersonalToolbar:not(:hover):not(:focus-within):not([customizing]) { visibility: collapse; }
